/* Hero */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(rgb(135, 135, 135), var(--Background-HTML));

  height: 500px;
}

.hero-title,
.hero-text {
  margin: 0;
  text-align: center;
}

.hero-title {
  color: var(--High-emphasis-light-text);
}

.hero-text {
  color: var(--Medium-emphasis-light-text);
}

/* API cards */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.cards-api {
  border-radius: 30px;
  background-color: rgb(43, 43, 43);
  min-width: 300px;
  height: 200px;
  padding: 15px;
}

.cards-api-heading {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cards-api-h3 {
  margin: 0 0 0 10px;
}

/* Themes */
.steam-theme {
  background: linear-gradient(
    var(--Theme-Steam-dark),
    var(--Theme-Steam-light)
  );
}

.igdb-theme {
  background: linear-gradient(var(--Theme-IGDB-dark), var(--Theme-IGDB-light));
}
