.nav-container {
  position: relative;

  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  height: 50px;
  /* margin-bottom: 25px; */

  box-shadow: 0 2px 10px black;

  z-index: 2;
}

.nav-link {
  color: var(--High-emphasis-light-text);
  text-decoration: none;

  padding: 5px 8px;
  margin-right: 10px;
}

.nav-compare {
  color: var(--High-emphasis-dark-text);
  background-color: var(--Btn-secondary);

  border-radius: 10px;
  padding-left: 40px;

  padding-right: 40px;
}
